// Incomplete. Form border, separator lines and button stylings still required.

.loginContainer {
  width: 100%;
  max-width: 330px;
  padding-top: 100px;
  margin: auto;
  height: 100%;
}

h1 {
  font-size: 26px;
}

