// Need to limit description length to a certain character limit
// Need to fix description of two films (they both have Vertigo descriptions currently)
// Need to set card size in relation to screen height

.movie-card-container {
  margin-top: 80px;
  margin-bottom: 40px;
  height: 600px;
}

.movie-card.body {
  display: flex;
  flex-direction: column;
}

.more-button {
  margin-top: auto;
}