// Need to centre the card
// Need to centre the back button
// Get title, year and runtime on same line
// Get director and genre on same line

.movieViewContainer {
  margin-top: 80px;
}

.movieViewImage {
  max-width: 500px;
  max-height: 330px;
}